VITE_API_URL=/api

# Okta frontend configuration
VITE_OKTA_ISSUER=https://login.wsu.edu/oauth2/default
VITE_OKTA_CLIENT_ID=0oa19yes4cwMmJvwk2p8
VITE_OKTA_REDIRECT_URI=http://localhost:5173/login/callback
VITE_OKTA_SCOPES=openid profile email
VITE_OKTA_ADMIN_GROUPS=BAM.PROD.ESFCOM.ADMIN
